<!DOCTYPE html>
<html lang="en" data-ng-app="blog">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Share your thoughts about art, the Great-Art website or even show your appreciation for Hubert Humperdink">
  <script src="javascript/angular.min.js"></script>
  <script src="javascript/angles.js"></script> 
  <link rel="stylesheet" href="css/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <title>Blog | Great-Art</title>
</head>
<body data-ng-controller="main">
    <header>
		<img class="jumbotron" src="images/ImageBlog.jpg" alt="Blog Banner"/>
    </header>
    <input type="checkbox" id="menuToggle">
    <label for="menuToggle" class="menu-icon">&#9776;</label>
        <nav class="menu">
        <ul>
            <li><a href="index.html">Home</a></li>
        </ul>
          <div class="dropdown">
            <a href="artist.html" class="dropbtn">Artist</a>
              <div class="dropdown-content">
                <a href="painting1.html">First Abstract</a>
                <a href="painting2.html">Composition VII</a>
                <a href="painting3.html">Several Circles</a>
                <a href="painting4.html">Winter Landscape</a>
              </div>
            </div>
        <ul>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="AboutUs.html">About</a></li>
            <li><a href="ContactUs.html">Contact</a></li>
        </ul>
    </nav>
      <div id="wrapper">
		<main class="blog">
            <h1>Blog</h1>
            <br />
                <p>This helped so much with my homework. Great Site 10/10.</p>
                <p><em>- Thea Stark</em></p>
				<br />
				<p>Great learning tool for my students.</p>
				<p><em>- Nigel Thornberry</em></p>
				<br />
				<p>Can anyone let me know if it's Wassilly or Vassilly.</p>
				<p><em>- Anonymous</em></p>
				<br />
				<p>You must be so rich Hubert.</p>
				<p><em>- John Alen</em></p>
                <br />
                
			<div data-ng-repeat="person in persons">
					<p>{{person.Text}}</p>
                    <p><em>- {{person.name}}</em></p>
                    <br />
			</div>
			</main>
			<form data-ng-submit="newSelection()" class="blogForm">
				<label><b>Create New Topic:</b></label>
				<br />
				<textarea rows="12" cols="30" data-ng-model="Text" placeholder="Text" data-ng-required ></textarea>
				<br />
				<input type="text" data-ng-model="name" placeholder="Name" data-ng-required />
				<button class="button" type="submit">Create</button>
				<br />
				<br />
			</form>
		

      </div>
	<footer>
        <p>Great Art&#9400;</p>
    </footer>
</body>
</html>